### Import Libraries

In [61]:
import psycopg2
import psycopg2.extras
import configparser as configparser
import pandas as pd
from itertools import combinations

## Fetching Instacart tables

### Funtion: To parse INI file

In [62]:
def parse_ini(section: str) -> dict:
    """
    This function parses ini file for configuration details
    :param section: section to read from ini
    :return: Dictionary of config details
    """
    config = dict()
    parser = configparser.ConfigParser()
    parser.read("database.ini")
    if parser.has_section(section):
        config_items = parser.items(section)
        for item in config_items:
            config[item[0]] = item[1]
    return config

In [63]:
db_config = parse_ini("postgresql")
db_config

{'host': 'localhost',
 'database': 'instacart',
 'user': 'postgres',
 'password': '1997',
 'port': '5432'}

### Function: To connect to Instacart database and run select query to fetch tables into dataframe

In [64]:
def fetch_table(table_name: str) -> pd.DataFrame:
    with psycopg2.connect(**db_config, options="-c search_path=dbo,public,instacart") as conn:
        try:
            query = "SELECT * FROM " + table_name
            dataframe = pd.read_sql_query(query, conn)
            print("The query results loaded to Dataframe")
            return dataframe
        except (Exception, psycopg2.DatabaseError) as error:
            print("SQL Exception:" + str(error))

### Tables and their attributes

In [65]:
aisles_df = fetch_table("aisles")
aisles_attributes = list(aisles_df.columns)
aisles_df

The query results loaded to Dataframe

C:\Users\anura\AppData\Local\Temp\ipykernel_33844\3917823166.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dataframe = pd.read_sql_query(query, conn)

     aisle_id                       aisle
0           1       prepared soups salads
1           2           specialty cheeses
2           3         energy granola bars
3           4               instant foods
4           5  marinades meat preparation
..        ...                         ...
129       130    hot cereal pancake mixes
130       131                   dry pasta
131       132                      beauty
132       133  muscles joints pain relief
133       134  specialty wines champagnes

[134 rows x 2 columns]

In [66]:
departments_df = fetch_table("departments")
departments_attributes = list(departments_df.columns)
departments_df

The query results loaded to Dataframe

C:\Users\anura\AppData\Local\Temp\ipykernel_33844\3917823166.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dataframe = pd.read_sql_query(query, conn)

    department_id       department
0               1           frozen
1               2            other
2               3           bakery
3               4          produce
4               5          alcohol
5               6    international
6               7        beverages
7               8             pets
8               9  dry goods pasta
9              10             bulk
10             11    personal care
11             12     meat seafood
12             13           pantry
13             14        breakfast
14             15     canned goods
15             16       dairy eggs
16             17        household
17             18           babies
18             19           snacks
19             20             deli
20             21          missing

In [67]:
products_df = fetch_table("products")
products_attributes = list(products_df.columns)
products_df

C:\Users\anura\AppData\Local\Temp\ipykernel_33844\3917823166.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dataframe = pd.read_sql_query(query, conn)

The query results loaded to Dataframe

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13
...,...,...,...,...
49683,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5
49684,49685,En Croute Roast Hazelnut Cranberry,42,1
49685,49686,Artisan Baguette,112,3
49686,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8
49687,49688,Fresh Foaming Cleanser,73,11

In [68]:
users_df = fetch_table("users")
users_attributes = list(users_df.columns)
users_df

C:\Users\anura\AppData\Local\Temp\ipykernel_33844\3917823166.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dataframe = pd.read_sql_query(query, conn)

The query results loaded to Dataframe

,user_id,user_name,user_address,city,state,pincode,user_email
0,0,Kelly Norman,530 Kevin Plain,Beckstad,DC,10028,kellynorman530@gordon-carey.com
1,1,Susan Hernandez,3210 Stuart Union,Port Spencer,VA,88043,susanhernandez3210@ayala.com
2,2,David Roach,0687 Matthew Circles,Mallorybury,PW,85734,davidroach0687@chang.com
3,3,Brandon Brown,71413 Dickson Hills Apt. 762,Glendachester,PA,61726,brandonbrown71413@hanna-cruz.com
4,4,Joshua French,2949 Samantha Wall Suite 216,New Davidview,WI,18740,joshuafrench2949@sanchez.com
...,...,...,...,...,...,...,...
3999995,3999995,Pamela Waller,02886 Sara Cove Suite 663,Smithland,NH,9812,pamelawaller02886@serrano-duke.org
3999996,3999996,Jeffrey Lamb,1849 Erin Divide,Port Kelliville,SC,58072,jeffreylamb1849@dillon.com
3999997,3999997,Crystal Walsh,02038 Jason Alley,Steventown,WI,29788,crystalwalsh02038@jennings.biz
3999998,3999998,Joe Davidson,055 Jordan Pass,Guzmanfurt,SC,25399,joedavidson055@parker-schmitt.com
3999999,3999999,Yvette Webb,643 Kayla Junction Suite 782,North Brian,GA,27195,yvettewebb643@davis.com

In [69]:
orders_df = fetch_table("orders")
orders_attributes = list(orders_df.columns)
orders_df

C:\Users\anura\AppData\Local\Temp\ipykernel_33844\3917823166.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dataframe = pd.read_sql_query(query, conn)

The query results loaded to Dataframe

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0
...,...,...,...,...,...,...
3421078,2266710,206209,10,5,18,29.0
3421079,1854736,206209,11,4,10,30.0
3421080,626363,206209,12,1,12,18.0
3421081,2977660,206209,13,1,12,7.0
3421082,272231,206209,14,6,14,30.0

In [70]:
order_products_df = fetch_table("order_products")
order_products_attributes = list(order_products_df.columns)
order_products_df

C:\Users\anura\AppData\Local\Temp\ipykernel_33844\3917823166.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dataframe = pd.read_sql_query(query, conn)

The query results loaded to Dataframe

          order_id  product_id  add_to_cart_order  reordered
0                2       33120                  1          1
1                2       28985                  2          1
2                2        9327                  3          0
3                2       45918                  4          1
4                2       30035                  5          0
...            ...         ...                ...        ...
32434484   3421083       39678                  6          1
32434485   3421083       11352                  7          0
32434486   3421083        4600                  8          0
32434487   3421083       24852                  9          1
32434488   3421083        5020                 10          1

[32434489 rows x 4 columns]

### Function: To check Dependency using partition refinement
It checks the if the count of equivalence classes for set LHS and count of equivalence classes for set (LHS v {RHS}) is same
(Simplified partition refinement)

In [71]:
def check_dependency(dataframe, lhs, rhs) -> bool:
    count1 = dataframe[list(lhs)].drop_duplicates().shape[0]
    lhs_rhs = list(lhs) + [rhs]
    count2 = dataframe[list(lhs_rhs)].drop_duplicates().shape[0]
    if count1 != count2:
        return False
    return True

## Pruning approach to find FDs

### Function: To calculate RHS Candidates for a given set X subset of Attributes R of relation

In [72]:
def get_candidate_plus_RHS(alpha, previous_level_alphas, attributes, candidate_plus_RHS):
    value = set(attributes)
    # print(previous_level_alphas)
    for previous_alpha in previous_level_alphas:
        # print(set(previous_alpha))
        if set(previous_alpha).issubset(set(alpha)):
            value = value.intersection(candidate_plus_RHS[tuple(sorted(previous_alpha))])
    return value

### Function: To check if set X is a superkey for the new_relation_movie

In [73]:
def is_superkey(alpha, dataframe):
    # print(alpha)
    # print(dataframe.head(5))
    count = dataframe[list(alpha)].drop_duplicates().shape[0]
    if count == dataframe.shape[0]:
        return True
    return False

### Function: Pruning Algorithm to get functional dependencies

In [74]:
def discover_functional_dependencies(attributes, dataframe):
    dependencies = []
    candidate_plus_RHS = dict()  # To hold RHS candidates for a given set X
    previous_level_alphas = [tuple([])]  # level 0
    candidate_plus_RHS[tuple([])] = set(attributes)  # for level 0
    print(candidate_plus_RHS[tuple([])])
    current_level_alphas = list(combinations(attributes, 1))  # All Alpha's at level '1' in lattice
    for level in range(1, 4):
        print(current_level_alphas)
        # Initializing Candidate RHS for all Alpha's
        for alpha in current_level_alphas:
            alpha = tuple(sorted(alpha))
            candidate_plus_RHS[alpha] = get_candidate_plus_RHS(alpha, previous_level_alphas, attributes, candidate_plus_RHS)
        # Dependency checking
        for alpha in current_level_alphas:
            alpha = tuple(sorted(alpha))
            # Candidate RHS should be a subset(in domain) of Alpha
            possible_rhs = set(alpha).intersection(candidate_plus_RHS[alpha])
            for rhs in list(possible_rhs):
                lhs = list(set(alpha).difference({rhs}))  # Alpha\{RHS} -> RHS
                if lhs == None or len(lhs) <= 0:
                    continue
                if check_dependency(dataframe, lhs, rhs):
                    dependencies.append([tuple(lhs), rhs])
                    # RHS Candidate Pruning
                    # Remove rhs
                    candidate_plus_RHS[alpha].remove(rhs)
                    # Remove all attributes that doesn't belong to Alpha
                    R_alpha = set(attributes).difference(set(alpha))
                    candidate_plus_RHS[alpha] = candidate_plus_RHS[alpha].difference(R_alpha)
        # Pruning
        prune_alphas = []
        for alpha in current_level_alphas:
            alpha = tuple(sorted(alpha))
            if not bool(candidate_plus_RHS[alpha]):  # if Candidate RHS is empty
                prune_alphas.append(set(alpha))
            if is_superkey(alpha, dataframe): # Add all depedencies possible as it is superkey
                for A in list(candidate_plus_RHS[alpha].difference(set(alpha))):
                    reduction = set(attributes)
                    for B in list(alpha):
                        x = [i for i in set(alpha).union({A}).difference({B})]
                        x = sorted(x)
                        # print(tuple(x))
                        reduction.intersection(candidate_plus_RHS[tuple(x)])
                    if A in reduction:
                        dependencies.append([alpha, A])
                prune_alphas.append(set(alpha))
        # Generating Alpha's for next level
        previous_level_alphas = current_level_alphas
        current_level_alphas = list(combinations(attributes, level))
        for alpha in current_level_alphas:
            for pruned in prune_alphas:
                if set(alpha).issuperset(pruned):
                    current_level_alphas.remove(alpha)
                    break
    minimal_dependencies = set()
    for x in dependencies:
        minimal_dependencies.add(tuple(x))
    return minimal_dependencies

In [75]:
dependencies = discover_functional_dependencies(aisles_attributes, aisles_df)
dependencies

{'aisle_id', 'aisle'}
[('aisle_id',), ('aisle',)]
[('aisle',)]
[]

{(('aisle',), 'aisle_id'), (('aisle_id',), 'aisle')}

In [76]:
dependencies = discover_functional_dependencies(orders_attributes, orders_df)
dependencies

{'order_hour_of_day', 'days_since_prior_order', 'order_dow', 'order_number', 'order_id', 'user_id'}
[('order_id',), ('user_id',), ('order_number',), ('order_dow',), ('order_hour_of_day',), ('days_since_prior_order',)]
[('user_id',), ('order_number',), ('order_dow',), ('order_hour_of_day',), ('days_since_prior_order',)]
[('order_id', 'user_id'), ('order_id', 'order_number'), ('order_id', 'order_dow'), ('order_id', 'order_hour_of_day'), ('order_id', 'days_since_prior_order'), ('user_id', 'order_number'), ('user_id', 'order_dow'), ('user_id', 'order_hour_of_day'), ('user_id', 'days_since_prior_order'), ('order_number', 'order_dow'), ('order_number', 'order_hour_of_day'), ('order_number', 'days_since_prior_order'), ('order_dow', 'order_hour_of_day'), ('order_dow', 'days_since_prior_order'), ('order_hour_of_day', 'days_since_prior_order')]

{(('order_id',), 'days_since_prior_order'),
 (('order_id',), 'order_dow'),
 (('order_id',), 'order_hour_of_day'),
 (('order_id',), 'order_number'),
 (('order_id',), 'user_id'),
 (('order_number', 'user_id'), 'days_since_prior_order'),
 (('order_number', 'user_id'), 'order_dow'),
 (('order_number', 'user_id'), 'order_hour_of_day'),
 (('order_number', 'user_id'), 'order_id')}

In [77]:
dependencies = discover_functional_dependencies(departments_attributes, departments_df)
dependencies

{'department_id', 'department'}
[('department_id',), ('department',)]
[('department',)]
[]

{(('department',), 'department_id'), (('department_id',), 'department')}

In [78]:
dependencies = discover_functional_dependencies(products_attributes, products_df)
dependencies

{'department_id', 'product_name', 'product_id', 'aisle_id'}
[('product_id',), ('product_name',), ('aisle_id',), ('department_id',)]
[('product_name',), ('aisle_id',), ('department_id',)]
[('product_id', 'aisle_id'), ('product_id', 'department_id'), ('product_name', 'department_id'), ('aisle_id', 'department_id')]

{(('aisle_id',), 'department_id'),
 (('product_id',), 'aisle_id'),
 (('product_id',), 'department_id'),
 (('product_id',), 'product_name'),
 (('product_name',), 'aisle_id'),
 (('product_name',), 'department_id'),
 (('product_name',), 'product_id')}

In [79]:
dependencies = discover_functional_dependencies(users_attributes, users_df)
dependencies

{'user_email', 'state', 'city', 'user_name', 'pincode', 'user_address', 'user_id'}
[('user_id',), ('user_name',), ('user_address',), ('city',), ('state',), ('pincode',), ('user_email',)]
[('user_name',), ('user_address',), ('city',), ('state',), ('pincode',), ('user_email',)]
[('user_id', 'user_name'), ('user_id', 'user_address'), ('user_id', 'city'), ('user_id', 'state'), ('user_id', 'pincode'), ('user_id', 'user_email'), ('user_name', 'user_address'), ('user_name', 'city'), ('user_name', 'state'), ('user_name', 'pincode'), ('user_name', 'user_email'), ('user_address', 'city'), ('user_address', 'state'), ('user_address', 'pincode'), ('user_address', 'user_email'), ('city', 'state'), ('city', 'pincode'), ('city', 'user_email'), ('state', 'pincode'), ('state', 'user_email'), ('pincode', 'user_email')]

{(('city', 'user_email'), 'pincode'),
 (('city', 'user_email'), 'state'),
 (('city', 'user_email'), 'user_address'),
 (('city', 'user_email'), 'user_id'),
 (('city', 'user_email'), 'user_name'),
 (('pincode', 'user_address'), 'city'),
 (('pincode', 'user_address'), 'state'),
 (('pincode', 'user_address'), 'user_email'),
 (('pincode', 'user_address'), 'user_id'),
 (('pincode', 'user_address'), 'user_name'),
 (('pincode', 'user_email'), 'city'),
 (('pincode', 'user_email'), 'state'),
 (('pincode', 'user_email'), 'user_address'),
 (('pincode', 'user_email'), 'user_id'),
 (('pincode', 'user_email'), 'user_name'),
 (('state', 'user_email'), 'city'),
 (('state', 'user_email'), 'pincode'),
 (('state', 'user_email'), 'user_address'),
 (('state', 'user_email'), 'user_id'),
 (('state', 'user_email'), 'user_name'),
 (('user_address', 'user_email'), 'city'),
 (('user_address', 'user_email'), 'pincode'),
 (('user_address', 'user_email'), 'state'),
 (('user_address', 'user_email'), 'user_id'),
 (('user_address', 'user_email'), 'user_name'),
 (('user_address', 'user_name'), 'city'),
 (('user_address', 'user_name'), 'pincode'),
 (('user_address', 'user_name'), 'state'),
 (('user_address', 'user_name'), 'user_email'),
 (('user_address', 'user_name'), 'user_id'),
 (('user_id',), 'city'),
 (('user_id',), 'pincode'),
 (('user_id',), 'state'),
 (('user_id',), 'user_address'),
 (('user_id',), 'user_email'),
 (('user_id',), 'user_name')}

In [80]:
dependencies = discover_functional_dependencies(order_products_attributes, order_products_df)
dependencies

{'add_to_cart_order', 'product_id', 'order_id', 'reordered'}
[('order_id',), ('product_id',), ('add_to_cart_order',), ('reordered',)]
[('order_id',), ('product_id',), ('add_to_cart_order',), ('reordered',)]
[('order_id', 'product_id'), ('order_id', 'add_to_cart_order'), ('order_id', 'reordered'), ('product_id', 'add_to_cart_order'), ('product_id', 'reordered'), ('add_to_cart_order', 'reordered')]

{(('add_to_cart_order', 'order_id'), 'product_id'),
 (('add_to_cart_order', 'order_id'), 'reordered'),
 (('order_id', 'product_id'), 'add_to_cart_order'),
 (('order_id', 'product_id'), 'reordered')}